.btn-cancel {
  left: 53%;
  margin-top: -18%;
}

.button-wrapper-delete {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 20px;
}

.card-body {
  margin: 0 5%;
}

button {
  margin-bottom: 10px;
}
