#warning-message {
  display: none;
}
@media only screen and (orientation: portrait) {
  #wrapper {
    display: none;
  }
  #warning-message {
    display: inline-flex;
    margin: 30% 20%;
    text-align: center;
  }
}
@media only screen and (orientation: landscape) {
  #warning-message {
    display: none;
  }
}

.list-title {
  float: left;
  margin: 50px 80px;
}

.table-holder {
  display: table;
  width: 90%;
  margin: 5%;
}

.go-to-create-page {
  float: right;
  margin: 50px 100px;
}

.container {
  margin-bottom: 50px;
}

mat-table {
  width: 100%;
  display: table;
}

.header {
  font-size: 20px;
}

button {
  margin: 5px;
}

td {
  text-align: center;
  padding: 10px;
}

th {
  text-align: center;
  padding: 30px;
}

.text-column-cell {
  max-width: 300px;
  max-height: 300px;
  overflow-wrap: break-word;
}

.id-column {
  width: 15%;
}

.date-column {
  width: 15%;
}

.name-column {
  width: 20%;
}

.text-column {
  width: 20%;
}

.action-column {
  width: 10%;
}

h2 {
  margin: 50px 40%;
}

.mat-icon {
  display: flex;
  flex-wrap: initial;
}
