:root {
  --background-color: #323232;
  --font-color: #ffffff;
}
html,
body {
  height: 100%;
  background-color: var(--background-color);
  color: var(--font-color);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
