.button-wrapper {
  margin-top: 38px;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.btn-cancel {
  left: 53%;
  margin-top: -18%;
}

.btn-submit {
  margin-right: 30%;
  margin-top: -5%;
}

.btn-close {
  font-size: 25px;
}

.btn-close-wrapper {
  position: absolute;
  right: 45px;
  top: 15px;
  width: 30px;
  height: 30px;
}

.button-wrapper-delete {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 20px;
}

.card-body {
  margin: 0 5%;
}

.name.field {
  margin-bottom: 10px;
}

mat-form-field {
  width: 400px;
}

.text {
  height: 200px;
}

button {
  margin-bottom: 10px;
}

.card-body {
  height: fit-content;
}
