<div class="create-message" *ngIf="!messageData">
  <h1 mat-dialog-title>
    <strong>New Message</strong>
  </h1>
  <div class="btn-close-wrapper">
    <button class="btn btn-close" mat-button (click)="closeDialog()">×</button>
  </div>
  <div mat-dialog-content class="container">
    <div class="card-body">
      <form class="form" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="name field" appearance="outline">
          <mat-label>Message</mat-label>
          <input matInput value="" formControlName="name" />
          <mat-error
            class="text-danger"
            *ngIf="
              messageForm.controls['name'].invalid &&
              (messageForm.controls['name'].dirty ||
                messageForm.controls['name'].touched)
            "
          >
            Message name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="text field" appearance="outline">
          <textarea
            matInput
            cdkTextareaAutosize
            placeholder="Write your message here..."
            value=""
            formControlName="text"
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="7"
            cdkAutosizeMaxRows="10"
          ></textarea>
          <mat-error
            class="text-danger"
            *ngIf="
              messageForm.controls['text'].value.length < 1 &&
              (messageForm.controls['text'].dirty ||
                messageForm.controls['text'].touched)
            "
          >
            Message text is required
          </mat-error>
          <mat-error
            class="text-danger"
            *ngIf="
              messageForm.controls['text'].value.length > 255 &&
              (messageForm.controls['text'].dirty ||
                messageForm.controls['text'].touched)
            "
          >
            Message text length should not be more than 255 symbols
          </mat-error>
        </mat-form-field>

        <div class="button-wrapper">
          <button
            class="btn btn-submit"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!messageForm.valid"
          >
            Submit
          </button>
        </div>
      </form>
      <button class="btn btn-cancel" mat-raised-button (click)="closeDialog()">
        Cancel
      </button>
    </div>
  </div>
</div>

<div class="delete-message" *ngIf="messageData">
  <h1 mat-dialog-title>
    <strong>Delete Message</strong>
  </h1>
  <div mat-dialog-content>
    <p>
      Sure to delete <b>{{ data.name }}</b
      >?
    </p>
  </div>
  <div class="button-wrapper-delete" mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="deleteMessage()">
      Delete
    </button>
    <button mat-raised-button (click)="closeDialog()">Cancel</button>
  </div>
</div>
